{% extends 'layout.html' %}

{% block link %}
<style>.card{
    transition: 0.3s ease-in;

}

.card:hover{
    box-shadow: #198754 0 0 10px 5px;
    transform: scale(1.02);
}

</style>

{% endblock %}
{% block content %}
<div class="card card-body" style="margin:4%">
<h2 class="mb-4">Logged Out</h2>

<p>You have been logged out <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84; color: #198754; text-decoration: none !important;"href="{% url 'CAD:login' %}">Login Here</a></p>
</div>
{% endblock %} 

